body{background-color:#e6ffff;}
h1{color:red;text-align:center;text-decoration:underline;}
h2{color:green;text-align:center;text-decoration:underline;}
p {color:red;text-align:center;background-color:yellow;font-weight:400;font-variant:normal;}